* {
  margin: 0;
  padding: 0;
}

/*font klasser*/
  .asul-regular {
    font-family: "Asul", serif;
    font-weight: 400;
    font-style: normal;
  }

  .asul-bold {
    font-family: "Asul", serif;
    font-weight: 700;
    font-style: normal;
  }

  body {
    font-family: "asul", serif;
    font-size: 14px;
    margin: 0; /*tilføjet så navbaren kan nå ud til kanten.*/
  }


/*Her begynder styling til navbar*/

/*styling til navbar container.*/
  nav {
    display: flex; /*Sørger for at alt i navbaren tilpadser sig skærmstørrelsen*/
    align-items: center;
    height: 50px;
    padding: 10px 0px;
    justify-content: space-between;
    background-color: #e4f1da;
    font-size: 16px;
    position: fixed;
    top: 0;
    width: 100%;
  }

/*Navbar sektioner. Venste, midten og højre.
De bliver tildelt som klasser til elementerne i navbaren.*/
  .navbar-section {
    display: flex;
    align-items: center;
  }
  .navbar-left {
    justify-content: flex-start;
    flex: 1;
  }
  .navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

  }
  .navbar-right {
    justify-content: flex-end;
    flex: 1;
  } 

/*Styling til navbar listen*/
  nav ul {
    list-style-type: none;
    display: flex;
  }

  nav li {
      margin: 20px; /*tilføjer mellemrum mellem elementer*/
      height: 100%; /*for at få links til at stå i midten af navbaren.*/
  }

  nav a {
    display: flex;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    align-items: center;
  }

/*For at skifte farve når musen er over linket*/
  li a:hover {
    background-color: #75b66b;
    color: white;
    border-radius: 5px;
  }

/*Gør det aktive link en anden farve*/
  .active {
    background-color: #5c8355;
    color: white;
    border-radius: 5px;
  }
/*Override så det aktive link ikke skifter farve ved hover*/
  .active:hover {
    background-color: #5c8355;
    color: white;
    border-radius: 5px;
  }

/*styling af logo*/
  .logo {
    max-height: 50px;
  }

  /*Styling af mobil navbar*/
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    z-index: 999; /*Sørger for at navbaren altid er foran andet på siden*/
    background-color: #e4f1da;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    overflow: hidden;
  }

  .sidebar li {
    width: 70%;
  }
  .sidebar a {
    width: 100%;
  }
  .menu-button {
    display: none;
  }

  /*Start på media query, der fortæller hvordan siden skal reagere afhængigt af skærmstørrelse.*/
  @media(max-width:1000px){
    .hideonmobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
    .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .footer-section {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  /*Footer styling*/
  footer {
    background-color: #e4f1da;
    color: black;
    text-align: center;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer-section {
    flex: 1;
    padding: 20px;
    min-width: 250px;
  }
    .footer-section h3 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    .footer-section p, .footer-section ul {
      font-size: 14px;
      margin: 0;
      padding: 0;
    }
    .footer-section ul {
      list-style-type: none;
    }
    .footer-section ul li {
      margin-bottom: 10px;
    }
    .footer-section ul li a {
      color: black;
      text-decoration: dotted;
    }
    .footer-section ul li a:hover {
      background-color: #75b66b;
      color: white;
      border-radius: 5px;
    }

  .footer-bottom {
    padding: 10px;
    background-color: #5c8355;
    color: white;
    font-size: 14px;
    width: 100%;
  }